<!DOCTYPE html>
<html lang="zh-cmn-Hans" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.eryansky.com/thymeleaf/shiro"
      xmlns:sitemesh="http://www.opensymphony.com/sitemesh/decorator">
<head>
    <title>通知公告</title>
    <th:block th:replace="~{include/meta :: meta}"></th:block>
    <th:block th:replace="~{include/kendoui :: kendoui}"></th:block>
    <th:block th:replace="~{include/huploadify :: huploadify}"></th:block>
    <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/
        var noticeId = [[${noticeId}]];
        var objectType = [[${objectType}]];
        var objectId = [[${objectId}]];
        var title = [[${title}]];
        var content = [[${content}]];
        var fileIds = [[${fileIds}]];
        var receiveUserIds = [[${receiveUserIds}]];
        var receiveOrganIds = [[${receiveOrganIds}]];
        var receiveContactGroupIds = [[${receiveContactGroupIds}]];

        // 默认权限为 false
        var hasRepeatPermission = false;
        /*[# th:if="${T(com.eryansky.core.security.SecurityUtils).isPermitted('notice:repeat')}"]*/
        hasRepeatPermission = true;
        /*[/]*/
        /*]]>*/
    </script>
    <script type="text/javascript" th:src="${ctxStatic}+'/app/modules/notice/notice'+${yuicompressor}+'.js?_='+${sysInitTime}" charset="utf-8"></script>
</head>
<body>
<div class="easyui-layout" fit="true"
     style="margin: 0; border: 0; overflow: hidden; width: 100%; height: 100%;">
    <div data-options="region:'west',title:'我的通知',split:true,collapsed:false,border:false"
         style="width: 180px; text-align: left; padding: 2px;">
        <div style="padding:5px">
            <a  id="read_linkbutton" href="#" class="easyui-linkbutton" onclick="initReadDatagrid()"
                data-options="iconCls:'eu-icon-notice_user_comment',toggle:true,group:'notice',selected:true"
                style="width: 150px">我的通知</a>
        </div>
        <shiro:hasPermission name="notice:publish">
            <div style="padding:5px">
                <a href="#" class="easyui-linkbutton" onclick="initDatagrid()"
                   data-options="iconCls:'eu-icon-notice_publish',toggle:true,group:'notice'"
                   style="width: 150px">发布管理</a>
            </div>
        </shiro:hasPermission>
    </div>
    <div data-options="region:'center',split:true"
         style="overflow: hidden;">
        <div class="easyui-layout" fit="true"
             style="margin: 0; border: 0; overflow: hidden; width: 100%; height: 100%;">
            <div data-options="region:'center',split:false,border:false"
                 style="padding: 0; height: 100%; width: 100%; overflow-y: hidden;">
                <table id="notice_datagrid"></table>
            </div>

            <div id="layout_north" data-options="region:'north',title:'过滤条件',height:120,collapsed:false,split:false,border:false"
                 style="padding: 0; height: 114px; width: 100%; overflow-y: hidden;">
                <form id="notice_search_form" style="padding: 5px;">
                    <table style="border: 0">
                        <tr>
                            <td>关键字：</td>
                            <td><input type="text" id="query" name="query" placeholder="关键字" class="easyui-validatebox textbox eu-input" maxLength="36" style="width: 260px" /></td>
                            <!-- <td>内&nbsp;容：</td>
                            <td><input type="text" name="content" maxLength="25" style="width: 260px"/></td> -->
                            <td>&nbsp;</td>
                            <td>发布日期：</td>
                            <td><input name="startTime" type="text" placeholder="起始时间" class="easyui-my97"  style="width:120px;">
                                ~
                                <input name="endTime" type="text"  placeholder="截止时间"  class="easyui-my97"  style="width:120px;"></td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td>
                                <a class="easyui-linkbutton" href="#" data-options="iconCls:'easyui-icon-search',width:100,height:28,onClick:search">查 询</a>
                                <a class="easyui-linkbutton" href="#" data-options="iconCls:'easyui-icon-no',width:100,height:28" onclick="$notice_search_form.form('reset');">重置</a>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>

        </div>
    </div>
</div>
</body>
</html>