<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:fragment="kendoui">
        <link th:href="@{/static/js/kendoui/styles/kendo.common.min.css}" rel="stylesheet">
        <link th:href="@{/static/js/kendoui/styles/kendo.default.min.css}" rel="stylesheet">
        <script th:src="@{/static/js/kendoui/js/kendo.web.min.js}"></script>
<!--        <script th:src="@{/static/js/kendoui/js/cultures/kendo.culture.zh-CN.min.js}"></script>-->
        <script th:src="@{/static/js/kendoui/js/messages/kendo.messages.zh-CN.min.js}"></script>
    </th:block>
</head>
<body>
</body>
</html>