<!DOCTYPE html>
<!--[if lt IE 7]><html class="ie ie6 ie-lte9 ie-lte8 ie-lte7 no-js"><![endif]-->
<!--[if IE 7]><html class="ie ie7 ie-lte9 ie-lte8 ie-lte7 no-js"><![endif]-->
<!--[if IE 8]><html class="ie ie8 ie-lte9 ie-lte8 no-js"><![endif]-->
<!--[if IE 9]><html class="ie9 ie-lte9 no-js"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js"> <!--<![endif]-->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sitemesh="http://www.opensymphony.com/sitemesh/decorator"
      class="no-js">
<head>
    <title th:text="${T(com.eryansky.utils.AppConstants).getAppName()}">
        <sitemesh:write property="title"/>
    </title>
    <meta name="viewport" id="viewport" content="width=device-width, initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">

    <th:block th:replace="~{modules/sys/include/head_mobile :: head_mobile}"></th:block>
    <th:block th:replace="~{include/mobile_select_area :: mobile_select_area}"></th:block>
    <th:block th:replace="~{include/dialog :: dialog}"></th:block>

    <script type="text/javascript" charset="utf-8" th:src="@{/static/mobile/map_module.min.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/static/app/mobile/mobile.min.css}" />

    <!-- SiteMesh head 写入注入点 -->
    <sitemesh:write property="head"/>
</head>
<body>
<!-- SiteMesh body 写入注入点 -->
<sitemesh:write property="body"/>
</body>
</html>